*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDemsqXQJdXbR88moa5wW26RJbs698xKhO-q0AakT7zTI7mfPB35LpgsiW2Rlzczm1_Is&usqp=CAU);
}

#app{
    min-height: 100vh;
    height: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #83FFC2;
    padding: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    border-left: solid 7px #7B7BD3;
    border-right: solid 7px #7B7BD3;
}

.done{
    text-decoration: line-through;
}

label{
    color: #7B7BD3;
}

input{
    color: #7B7BD3;
    background-color: #7FE5FF;
    font-size: large;
    font-weight: bold;
    height: 2rem;
    border-radius: 2rem;
    border: solid 2px #7B7BD3;
}

button{
    cursor: pointer;
    font-weight: inherit;
    font-family: inherit;
    padding:2px;
    color: #7B7BD3;
    border-radius: 2rem;
    border: solid 2px #7B7BD3;
    background-color: #F1B6DC;
}

ul{
    width: 300px;
    margin: auto;
    color: #7B7BD3;
}

li:nth-child(2n-1){
    background-color: #7FE5FF;
    border: solid 2px #FFE86D;
}

li:nth-child(2n){
    background-color: #FFE86D;
    border: solid 2px #7FE5FF;
}

li{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 2rem;
}

